# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/

# IDE / Editor specific
.idea/
.vscode/

# Build artifacts
dist/
build/
*.egg-info/

# PsychoPy specific log files if needed
*.log
lastParams.pickle