# Python specific
__pycache__/
*.py[cod]

# Virtual Environments
.venv/
venv/
ENV/
.venv_test/

# IDE specific
.idea/
.vscode/

# Build artifacts
dist/
build/
*.egg-info/

# WAND Project Data and Output (IMPORTANT)
data/
Combined SEQ/
cognitive_experiment/
exit
hook-psychopy.py
Abstract Stimuli - all/